#parent{
    display : flex;
    box-shadow: 5px 10px 8px #888888;
  }
  
  #tasks{
    background-color: rgb(230, 230, 230);
  }
  
  #item{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input{
    border: none;
    outline: none;
    margin-left: 45px;
    font-size: 23px;
  }
  
  h1{
    margin-left : 10px;
  }
  
  p{
    color : #817c7c;
    margin-left: 10px;
  }
  
  ul{
    list-style: none;
  }
  
  #del{
    display : flex;
  }
  